################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OrchardCore.Cms.Web/App_Data
/OrchardCore.Cms.Web/bin/Debug/net8.0
/OrchardCore.Cms.Web/Localization
/OrchardCore.Cms.Web/obj
/OrchardCore.GDS.Components/bin/Debug/net8.0
/OrchardCore.GDS.Components/obj
/OrchardCore.GDS.Theme/bin/Debug/net8.0
/OrchardCore.GDS.Theme/node_modules
/OrchardCore.GDS.Theme/obj
/OrchardCore.GDS.Theme/wwwroot/assets
/OrchardCore.GDS.Theme/wwwroot/all.bundle.js
/OrchardCore.GDS.Theme/wwwroot/all.css
/OrchardCore.GDS.Theme/wwwroot/all.min.css
/OrchardCore.GDS.Theme/wwwroot/govuk-frontend.min.js
/OrchardCore.GDS.Theme/wwwroot/jquery.js
/OrchardCore.GDS.Theme/wwwroot/jquery.min.js
/OrchardCore.GDS.Theme/wwwroot/jquery.slim.js
/OrchardCore.GDS.Theme/wwwroot/jquery.slim.min.js
/OrchardCore.GDS.Theme/wwwroot/site.css
/OrchardCore.GDS.Theme/wwwroot/site.js
/OrchardCore.GDS.Theme/wwwroot/site.min.css
/OrchardCore.GDS.Theme/wwwroot/site.min.js
/GovUK.DSI/bin/Debug/net8.0
/GovUK.DSI/obj
/OrchardCore.DSI/bin/Debug/net8.0
/OrchardCore.DSI/obj
/OrchardCore.Cms.Web/appsettings.Development.json
